
<div>
    <h2>{{vm.comicBook.title}}</h2>
    <h4>{{vm.comicBook.description}}</h4>
    Create Date: {{vm.comicBook.createDate | date:'mediumDate'}}
    <hr>
    <jhi-alert-error></jhi-alert-error>
    
    <div ng-if="vm.comicBook.coverImageData">
   		<a ng-click="vm.openFile(vm.comicBook.coverImageDataContentType, vm.comicBook.coverImageData)">
        	<img data-ng-src="{{'data:' + vm.comicBook.coverImageDataContentType + ';base64,' + vm.comicBook.coverImageData}}" style="max-width: 100%;"/>
        </a>
        <div>
        	{{vm.comicBook.coverImageDataContentType}}, {{vm.byteSize(vm.comicBook.coverImageData)}}
        </div>
    </div>  
            
    <div>
		<ul class="comic-book-thumbs">
			<li class="" ng-repeat="comicBookPage in vm.comicBook.pages track by comicBookPage.id">
				<img data-ng-src="{{'data:' + comicBookPage.imageDataContentType + ';base64,' + comicBookPage.imageData}}" ng-click="vm.setImage(comicBookPage.imageData)"/>
			</li>
		</ul>            
    </div>  
    
    
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="comicBookApp.comicBook.synopsis">Synopsis</span></dt>
        <dd>
            <span>{{vm.comicBook.synopsis}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
	<span has-authority="ROLE_ADMIN">
    <button type="button" ui-sref="comic-book-detail.edit({id:vm.comicBook.id})" class="btn btn-primary" >
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
    </span>
</div>
