
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myComicBookLabel" data-translate="comicBookApp.comicBook.home.createOrEditLabel">Create or edit a Comic Book</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comicBook.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.comicBook.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicBookApp.comicBook.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.comicBook.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicBookApp.comicBook.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.comicBook.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicBookApp.comicBook.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.comicBook.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.createDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setCoverImageData($file, vm.comicBook)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="comicBookApp.comicBook.coverImageData" for="field_coverImageData">Cover Image Data</label>
            <div>
                <img data-ng-src="{{'data:' + vm.comicBook.coverImageDataContentType + ';base64,' + vm.comicBook.coverImageData}}" style="max-height: 100px;" ng-if="vm.comicBook.coverImageData"/>
                <div ng-if="vm.comicBook.coverImageData" class="help-block clearfix">
                    <span class="pull-left">{{vm.comicBook.coverImageDataContentType}}, {{vm.byteSize(vm.comicBook.coverImageData)}}</span>
                    <button ng-click="vm.comicBook.coverImageData=null;vm.comicBook.coverImageDataContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setCoverImageData($file, vm.comicBook)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="coverImageData" id="field_coverImageData"
                    ng-model="vm.comicBook.coverImageData"
                     />
            <input type="hidden" class="form-control" name="coverImageDataContentType" id="field_coverImageDataContentType"
                    ng-model="vm.comicBook.coverImageDataContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="comicBookApp.comicBook.synopsis" for="field_synopsis">Synopsis</label>
                <textarea class="form-control" name="synopsis" id="field_synopsis"
                    ng-model="vm.comicBook.synopsis"  ></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
