<div ng-cloak>
    <div class="row">
    
    
        <div class="col-md-10">
            <h1 data-translate="home.title">Welcome, Java Hipster!</h1>
            <p class="lead" data-translate="home.subtitle">This is your homepage</p>
			<ul class="comic-book-thumbs">
				<li class="" ng-repeat="comicBook in vm.comicBooks track by comicBook.id">
					<a ng-if="comicBook.coverImageData" ui-sref="view-comic-book({id:comicBook.id})"> 
						<img data-ng-src="{{'data:' + comicBook.coverImageDataContentType + ';base64,' + comicBook.coverImageData}}" />
					</a>
				</li>
			</ul>
			
			<p>
				<b>Source Control:</b>  <a href="https://github.com/michaelboyd/comic-book" target="_blank">https://github.com/michaelboyd/comic-book</a>
			</p>
		</div>
    </div>
</div>
